<!-- <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-analytics.js";
    
    const firebaseConfig = {
      apiKey: "AIzaSyAcfHl4zjejt6hBGefMF6fAZ3LdH49ZKnw",
      authDomain: "e-athenaeum.firebaseapp.com",
      projectId: "e-athenaeum",
      storageBucket: "e-athenaeum.appspot.com",
      messagingSenderId: "983896565215",
      appId: "1:983896565215:web:23192e8ff8b658c8b9d06a",
      measurementId: "G-WZQ3SBFP73"
    };
  
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    console.log(analytics)
</script> -->
<script src="/js/index.js"></script>
</body>
</html>