<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closemodal()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p class="text-center">Please <a href="/login">login</a> to continue</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closemodal()">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  