<nav class="navbar navbar-expand bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a style="font-family: cursive;" class="navbar-brand nav-link" href="/">E-Athenaeum</a>
            </li>
            <li class="nav-item ms-auto">
                <a href="/login" class="btn">Log In</a>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            </li>
            <li>
                <a href="/cart" class="btn btn-outline-info">Cart</a>
            </li>
        </ul>    
    </div>
</nav>