<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container mt-3" onload="oncart()">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-white text-center">Product</th>
                    <th scope="col" class="text-white text-center">Price</th>
                    <th scope="col" class="text-white text-center">Quantity</th>
                    <th scope="col" class="text-white text-center">Total</th>
                </tr>
            </thead>
            <tbody class="product-body">
            </tbody>
            <tfoot>
                <tr>
                    <td style="display: none;" colspan="4" class="fw-bold bg-primary text-center cart-empty">Your cart is Empty</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-danger clear-btn" onclick="clearcart()">Clear</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>
</div>
<%- include('includes/footer.ejs') %>