@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-countainer-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.f-container {
    border: 1px solid #e7e2e2;
    padding: 30px;
    border-radius: 10px 10px 0 0;
}

.f-container-bottom {
    background-color: #e1dada;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 0 0 10px 10px;
}

.publish-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.publish {
    width: auto;
    height: 60px;
    background-color: cadetblue;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result {
    background: beige;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: max-content;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.author-name {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

.carousel-item {
    background-color: brown;
}